.custom-calendar {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}

.custom-calendar .react-datepicker__day {
    color: white;
}

.custom-calendar .react-datepicker__day--selected {
    background-color: #206AB3 !important;
    color: white !important;
}

.custom-calendar .react-datepicker__day--disabled {
    color: #929497 !important;
    opacity: 0.5 !important;
}
